body{
    font-family: sans-serif;
    background: rgba(219, 219, 219, 0.24);
    margin: 0;
}
.main-nav{
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    margin: 0;
    justify-content: space-between;
    background: white;
}
nav ul{
    margin: 5px;
}
nav ul li{
    margin-right: 10px;
    padding: 7px;
    
}
ul{
    display: flex;
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin: 5px;
}
.display{
    background: rgb(207, 207, 207);
    height: 35px;
    border-radius: 5px;
}
nav ul li:hover{
    background: rgb(182, 182, 185);
    height: 35px;
    border-radius: 5px;
}
nav ul span{
    font-size: 25px;
    border: 13px solid rgb(78, 10, 78);
    border-radius: 100px;
    padding: 10px;
    font-weight: bold;
    color: rgb(80, 119, 0);
}
.container{
    display: flex;
}
.body-content{
    border: 1px solid;
    width: 100%;
    border: none;
    background: rgb(50, 55, 71);
}
.background{
    background: rgb(28, 170, 163);
}
@media(max-width:500){
    .main-nav{
        flex-wrap: wrap;
    }
}
@media(orientation:portrait){
    .container{
        flex-wrap: wrap;
    }
}
h1{
    margin-left: 30%;
    font-size: 55px;
    color: rgb(207, 207, 207);
}
strong{
    margin-left: 20%;
    font-size: 35px;
    color: rgb(207, 207, 207);
}
button{
    padding: 15px;
    font-size: 30px;
    background: rgb(19, 175, 19);
    border:none;
    border-radius: 10px;
    color: whitesmoke;
}
button:hover{
    background: green;
}
.main-menu{
    margin-left: 20%;
}
.menus{
    padding: 10px;
}
.menus i{
    color: whitesmoke;
    margin: 5px 5px;
}
h3{
    color: rgb(207, 207, 207);
    font-size: 25px;
    margin-left: 20%;
}
.to-join{
    display: flex;
    justify-content: end;
}
.to-join a{
    color: rgb(241, 241, 241);
}
.image-home{
    display: flex;
    justify-content: center;
}
.image-home img{
    border-radius: 400px;
    padding: 20px;
    height: 400px;
}
.h2{
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: whitesmoke;
}
.p{
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: whitesmoke;
}
.lo-h4{
    font-size: 55px;
    color: rgb(0, 165, 8);
    text-align: center;
}
.container-form{
    display: flex;
}
.content-form{
    width: 100%;
    margin: 5px 5px;
    background: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media(max-width:100){
    .container-form{
        flex-wrap: wrap;
    }
}
@media(orientation:portrait){
    .container-form{
        flex-wrap: wrap;
    
    }
}
main{
    margin: 5px;
}
h5{
    text-align: center;
    font-size: 50px;
    color: white;
}
iframe{
    width: 100%;
    height: 100%;
}
.require{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 20px;
    color: white;
}
.name-label{
    display: flex;
    justify-content: center;
    font-size: 27px;
    color: white;
}
input[type="first-name"],
input[type="last-name"],
input[type="email"],
input[type="phone"]{
    width: 95%;
    height: 60px;
    font-size: 27px;
    border-radius: 10px;
    border: none;
}
.checkbox{
    font-size: 20px;
}
input[type="submit"]{
    width: 96%;
    height: 70px;
    font-size: 40px;
    border: none;
    background: rgb(14, 170, 105);
    color: white;
    border-radius: 50px;
}
input[type="submit"]:hover{
    background: green;
}
.container-about{
    margin: 0;
    padding: 0;
}
.main-about{
    display: flex;
    margin: 5px;
    justify-content: space-around;
}
.content-about{
    display: flex;
    justify-content: space-between;
}
.content-layout{
    width: 100%;
    background: rgb(18, 155, 189);
    font-size: 25px;
    margin: 10px;
}
.content-layout img{
    border-radius: 200px;
}
.name-image{
    text-align: center;
}
@media(max-width:100){
    .content-about{
        flex-wrap: wrap;
    }
}
@media(orientation:portrait){
    .content-about{
        flex-wrap: wrap;
    }
}
.resume{
    font-size: 25px;
}
.edit{
    background: rgb(24, 96, 204);
    color: white;
    border-radius: 5px;
}
.details{
    text-align: center;
    color: whitesmoke;
}
.image{
    display: flex;
    
}
.about-me{
    text-align: center;
    background: rgb(8, 95, 167);
}
.name-resume{
    display: flex;
    justify-content: space-around;
}
.text-resume{
    color: whitesmoke;
}
.color-text{
    color: rgb(233, 233, 233);
}
.container-hobbies{
    background: url(/image/image-background-hobbies.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.content-hobbies{
    display: flex;
}
.content-image{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 5px 5px;
    flex-wrap: wrap;
    background: linear-gradient(rgba(179, 180, 182, 0.74), rgba(80, 77, 77, 0.897));
}
.hobbies-h2{
    text-align: center;
    font-size: 60px;
    color: whitesmoke;
}
.main-body{
    margin: 0;
    padding: 0;
}
@media(max-width:100){
    .container-hobbies{
        width: 100%;
        flex-wrap: wrap;
    }
}
.name-img{
    text-align: center;
}
img{
    border-radius: 10px;
}
.name-h2{
    text-align: center;
    font-size: 40px;
    color: rgb(225, 226, 226);
}
.name-p{
    font-size: 30px;
    color: whitesmoke;
}
@media(max-width:1000){
    .content-hobbies{
        flex-wrap: wrap;
    }
    .content-image{
        flex-wrap: wrap;
    }
}
@media(orientation:portrait){
    .content-hobbies{
        flex-wrap: wrap;
    }
}